input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus,
select:focus {
  outline: none;
  border-color: rgb(0, 114, 47);
  box-shadow: 0 0 0 4px rgba(0, 255, 149, 0.1);
}

input {
  -moz-appearance: textfield;
  height: 36px;
  padding: 0 12px;
  border-radius: 6px;
  border: 1px solid #555;
  background: transparent;
  color: #9aa0a6;
  font-size: 14px;
  transition: 0.3s ease;
}

select {
  height: 36px;
  padding: 0 8px;
  border-radius: 6px;
  border: 1px solid #555;
  background-color: #202124;
  color: #9aa0a6;
  transition: 0.3s ease;
}

.currency {
  padding: 48px 64px;
  border-radius: 6px;
  border: 1px solid #444;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.05);
}

.currency-current {
  margin-bottom: 24px;
}
.currency-current .from {
  color: #9aa0a6;
  font-size: 14px;
}
.currency-current .to {
  margin-top: 6px;
  font-size: 22px;
  font-weight: 500;
}

.currency-form-group {
  display: flex;
  align-items: center;
}
.currency-form-group:not(:last-child) {
  margin-bottom: 16px;
}
.currency-form-group input {
  width: 200px;
}
.currency-form-group select {
  min-width: 90px;
  margin-left: 16px;
}
